<p>A list of all the players registered</p>

<ul>
    <li *ngFor="let players of players">
        {{players.firstName}} {{players.lastName}} - {{players.emailAddress}} - {{players.username}}
    </li>
</ul>